.cta {
  display: inline-block;
  border: 1px solid #00e6be;
  text-decoration: none;
  color: #00e6be;
  padding: 0.35rem 1rem;
  margin-top: 0.25rem;
  transition: all 0.2s ease;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.cta:hover {
  background: #00e6be;
  border: 1px solid black;
  color: black;
}
